---
interface Props {
  status: string;
  message: string;
}

const { status, message } = Astro.props;
---

<div class="flex flex-col mt-10 items-center justify-center">
  <img src="/images/emblems/inquisitor.svg" alt="Test" class="w-72" />
  <h2 class="font-bold text-red-700 text-7xl">{status}</h2>
  <p class="font-bold text-red-700 text-3xl">ORDO HERECTIUS</p>
  <p class="font-light text-xl text-gray-500">
    [ 999.M41 - Documentum obsignatum ]
  </p>
  <p class="font-thin mt-10 text-xl text-gray-500">
    By order of Grand Inquisitor <span class="font-bold">[REDACTED]</span>, {
      message
    }
  </p>
</div>
