---
import { getUrl } from "../utils/getUrl";

const currentPath = Astro.url.pathname;

const paths = [
  {
    href: getUrl("/mechanics"),
    name: "Mechanics",
    isActive: currentPath.startsWith(getUrl("/mechanics")),
  },
  {
    href: getUrl("/heroes"),
    name: "Heroes",
    isActive: currentPath.startsWith(getUrl("/heroes")),
  },
];
---

<nav
  class="bg-white flex border-b-2 border-gray-200 mb-4 drop-shadow-md justify-center"
>
  <ol class="flex flex-row">
    {
      paths.map((path) => (
        <li
          class={`drop-shadow-none underline underline-offset-4 ${
            path.isActive && "font-bold"
          } ${
            !path.isActive && "hover:text-blue-700 hover:font-semibold"
          } m-5 text-lg`}
        >
          <a href={path.href}>{path.name}</a>
        </li>
      ))
    }
  </ol>
</nav>
