---
interface Props {
  title: string;
  direction?: "row" | "column";
}

import Nav from "../components/Nav.astro";

const { title, direction } = Astro.props;
const flexDirection = direction === "row" ? "flex-row" : "flex-col";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Companion for Warhammer 40: Lost Crusade"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <main
      class={`flex ${flexDirection} flex-wrap max-w-6xl m-auto justify-center`}
    >
      <slot />
    </main>
  </body>
</html>
